<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/business-and-finance-1-4/130/14-512.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css">
    <title>Posted Carts | Apni Dukan</title>
</head>
<body>
    <style>
        *{
            font-family: 'Lemon', cursive;
        }
        body{
            background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-taobao-vector-creative-technology-online-shopping-illustration-computer-finger-poster-image_131803.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .draftInfo{
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            max-width: 1000px;
        }
    </style>
    <nav class="navbar navbar-default navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-family: 'Lemon', cursive;">Home</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right mr-auto">
                    <%if(!currentUser){%>
                        <li><a href="/login" style="font-family: 'Lemon', cursive;">Login</a></li>
                        <li>
                            <a href="/register" style="font-family: 'Lemon', cursive;">Sign Up</a>
                        </li>
                    <%}else{%>
                        <% if (currentUser.isShopkeeper == false) { %>
                            <li>
                                <a href="/carts/new" style="font-family: 'Lemon', cursive;">New Cart</a>
                            </li>
                            <li>
                                <a href="/buyer/drafts/carts" style="font-family: 'Lemon', cursive;">Drafts</a>
                            </li>
                            <li>
                                <a href="/buyer/posts/carts" style="font-family: 'Lemon', cursive;">Posted Carts</a>
                            </li>
                        <% } %>
                        <li>
                            <a href="" style="font-family: 'Lemon', cursive;">Signed in as <%=currentUser.username%></a>
                        </li>
                        <li>
                            <a href="/logout" style="font-family: 'Lemon', cursive;">Logout</a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <div align="center">
        <h1>Posted Carts</h1>
        <hr>
    </div>
    <% for( let i = 0; i < posted.length; i++ ) { %>
        <% if (posted[i].groceryUser.id == currentUser.id || currentUser.isShopkeeper) { %>
            <div class="col-lg-3">
                <div class="draftInfo" style="background-color: white;" align="center">
                    <p style="font-size:large;"><%= posted[i].cartTitle %> </p>
                    <hr>
                    <p style="font-size:small;"><%= posted[i].cartDescription.substring(0, 25); %>... </p>
                    <hr>
                    <a href="/buyer/posts/carts/<%= posted[i]._id %>"><button class="btn btn-primary btn-md">Read More</button></a>
                </div>
            </div>
        <% } %>
    <% } %>
</body>
</html>