<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/business-and-finance-1-4/130/14-512.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css">
    <title>Home - Apni Dukan</title>
</head>
<body>
    <style>
        *{
            font-family: 'Lemon', cursive;
        }
        body{
            background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-taobao-vector-creative-technology-online-shopping-illustration-computer-finger-poster-image_131803.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'Lemon', cursive; 
        }
    </style>
    <nav class="navbar navbar-default navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-family: 'Lemon', cursive;">Home</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right mr-auto">
                    <%if(!currentUser){%>
                        <li><a href="/login" style="font-family: 'Lemon', cursive;">Login</a></li>
                        <li>
                            <a href="/register" style="font-family: 'Lemon', cursive;">Sign Up</a>
                        </li>
                    <%}else{%>
                        <li>
                            <a href="/shopkeeper/orders" style="font-family: 'Lemon', cursive;">Orders</a>
                        </li>
                        <li>
                            <a href="/shopkeeper/orders/incomplete" style="font-family: 'Lemon', cursive;">Incomplete orders</a>
                        </li>
                        <li>
                            <a href="/shopkeeper/orders/complete" style="font-family: 'Lemon', cursive;">Completed orders</a>
                        </li>
                        <li>
                            <a href="" style="font-family: 'Lemon', cursive;">Signed in as <%=currentUser.username%></a>
                        </li>
                        <li>
                            <a href="/logout" style="font-family: 'Lemon', cursive;">Logout</a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="margin: 10px" align="center">Hi, <%= currentUser.fullname %> </h1>
    <hr>
    <div class="contaner" style="background-color: white; margin: 10px; padding: 10px; border-radius: 10px;">
        <h2 style="margin: 10px" align="center">Introduction to Apni Dukan</h2><hr>
        <p style="margin: 10px" align="center">Welcome to Apni Dukan!<br>
            Here you can contact with you customers, check there orders and delivering it.
            You can generate bill for the order online or call your customer.
            You can filter all orders, incomplete orders, completed orders separately.
            To see all your orders click the Orders button in the navigation bar.
            To see all your incomplete orders click the Incomplete orders button in the navigation bar.
            To see all your completed orders click the Completed orders button in the navigation bar.
        </p>
    </div><hr>
    <div class="contaner" style="background-color: white; margin: 10px; padding: 10px; border-radius: 10px;">
        <h2 style="margin: 10px" align="center">Links to start</h2><hr>
        <p style="margin: 10px" align="center">
            <a href="/shopkeeper/orders" type="button" class="btn btn-primary btn-lg">See your Orders</a> 
            <a href="/profile/me" type="button" class="btn btn-primary btn-lg">See your profile</a>
            <a href="/shopkeeper/orders/incomplete" type="button" class="btn btn-primary btn-lg"> Your Incomplete Orders</a>
            <a href="/shopkeeper/orders/complete" type="button" class="btn btn-primary btn-lg"> Your Completed Orders</a>
    </div><hr>
</body>
</html>